* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	border: 10px solid black;
	width: 40%;
}

span {
	border-bottom: 2px solid black;
	padding: 4px;
}

button {
	margin: 20px 0;
	background: white;
	color: black;
	border: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	padding: 5px 8px;
}

button#add {
	background-color: rgb(238, 73, 73);
}

button#deduct {
	background-color: rgb(89, 141, 236);
}

button#devide {
	background-color: rgb(57, 230, 230);
}

button#multiply {
	background-color: rgb(248, 238, 97);
}
